<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
     <link rel="stylesheet" href="{% static "styles/view-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/style.css"%}">
   <link rel="stylesheet" href="{% static "styles/announcements-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/groups-style.css" %}">
    <link rel="stylesheet" href="{% static "styles/courses-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/add-popup.css"%}">
    <link rel="stylesheet" href="{% static "styles/profile-style.css"%}">
    <link rel="stylesheet" href="{% static "css/w3.css"%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <br/>
    
    <div class = 'container'>

    <button type="button" class="btn btn-primary btn-lg float-right" > <a href="{% url 'home' %}" >Dashboard</a></button>
    <h2>Welcome Manager</h2>
   
    
    <hr/>
    <br/>
    <form class="my-class" method="post">
        {% csrf_token %}
        {{ not_form|crispy }}
        <input type="hidden" value="True" name="noti" id="noti">
        <br/>
        <button class="btn btn-info" type="submit">Post</button>
    </form>

    <hr/>
    <br/>
    <form class="my-class" method="post">
        {% csrf_token %}
        {{ news_form|crispy }}
        <input  type="hidden" value="False" name="noti" id="noti">
        <br/>
        <button class="btn btn-info" type="submit">Post</button>
    </form>
    <hr/>
    <br/>

    
      
    
    <button type="button" class="btn btn-primary"> <a href="{% url 'handlelogout' %}" >Logout</a></button>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{% static "scripts/script.js"%}"></script>
    <script src="{% static "scripts/add-course.js"%}"></script>
    <script src="{% static "scripts/groups-script.js"%}"></script>
    <script src="{% static "scripts/profile-script.js"%}"></script>
    <script src="{% static "scripts/announcements-script.js"%}"></script>

</body>
</html>